image: gcc

variables:
  DOCKER_DRIVER: overlay2

cache:
    key: one-key-to-rull-them-all
    paths:
        - gsoap-2.8/
        - generated/

before_script:
    - apt update && apt -y install flex bison byacc make m4 openssl libssl-dev zlib1g-dev libcrypto++6 

build:
    stage: build    
    script:
        - make all
    artifacts:
        paths:
            - start_scripts/
            - wsdd
            - wsdd_debug

staging:
    stage: deploy
    trigger:
        project: public/onvif/onvif_srvd
